/*
Syntax error: Undefined mixin 'clearfix'.
        on line 63 of /Users/cox/Projects/mendicant-university/app/stylesheets/layout.sass, in `clearfix'
        from line 63 of /Users/cox/Projects/mendicant-university/app/stylesheets/layout.sass

Backtrace:
/Users/cox/Projects/mendicant-university/app/stylesheets/layout.sass:63:in `clearfix'
/Users/cox/Projects/mendicant-university/app/stylesheets/layout.sass:63
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:169:in `visit_mixin'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/engine.rb:291:in `_render'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/engine.rb:239:in `block in render'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/util.rb:298:in `silence_sass_warnings'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/sass-3.1.1/lib/sass/engine.rb:239:in `render'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/compiler.rb:130:in `block (2 levels) in compile'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/compiler.rb:116:in `timed'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/compiler.rb:129:in `block in compile'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/logger.rb:45:in `red'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/compiler.rb:128:in `compile'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/compiler.rb:108:in `compile_if_required'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/compiler.rb:95:in `block (2 levels) in run'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/compiler.rb:93:in `each'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/compiler.rb:93:in `block in run'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/compiler.rb:116:in `timed'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/compiler.rb:92:in `run'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/commands/watch_project.rb:142:in `recompile'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `each'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `loop'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `run'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/commands/watch_project.rb:86:in `perform'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/commands/base.rb:18:in `execute'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/bin/compass:25:in `block in <top (required)>'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/bin/compass:39:in `call'
/Users/cox/.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/bin/compass:39:in `<top (required)>'
./bin/compass:16:in `load'
./bin/compass:16:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'clearfix'.\A         on line 63 of /Users/cox/Projects/mendicant-university/app/stylesheets/layout.sass, in `clearfix'\A         from line 63 of /Users/cox/Projects/mendicant-university/app/stylesheets/layout.sass"; }
