/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../.rvm/gems/ruby-1.9.2-p180@mendicantuniversity/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 7, ../../../app/stylesheets/layout.sass */
p {
  line-height: 1.5;
}

/* line 10, ../../../app/stylesheets/layout.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  margin: 1.25em 0 0.5em;
}

/* line 14, ../../../app/stylesheets/layout.sass */
body {
  width: 960px;
  margin: auto;
}

/* line 18, ../../../app/stylesheets/layout.sass */
header {
  position: relative;
  margin-top: 10px;
  height: 39px;
}
/* line 23, ../../../app/stylesheets/layout.sass */
header h1#logo {
  text-indent: -999px;
  position: absolute;
  margin: 0;
  height: 39px;
  width: 140px;
  z-index: 2;
}
/* line 31, ../../../app/stylesheets/layout.sass */
header navigation {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  background: url('/images/navbar-bg-edge.png?1310430573') no-repeat 0 100%;
}
/* line 39, ../../../app/stylesheets/layout.sass */
header ul {
  float: right;
  background: url('/images/navbar-bg-edge.png?1310430573') no-repeat 100% 100%;
}
/* line 43, ../../../app/stylesheets/layout.sass */
header ul li {
  float: left;
}
/* line 46, ../../../app/stylesheets/layout.sass */
header ul a:link,
header ul a:visited,
header ul a:hover,
header ul a:active {
  display: block;
  padding: 4px 12px 16px;
  text-decoration: none;
  color: black;
}
/* line 55, ../../../app/stylesheets/layout.sass */
header ul li.active a:link,
header ul li.active a:visited,
header ul li.active a:hover,
header ul li.active a:active,
header ul li a:hover {
  background: url('/images/navbar-bg-active.png?1309305491') repeat-x 0 100%;
}

/* line 62, ../../../app/stylesheets/layout.sass */
#main {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  padding: 15px 0;
}

/* line 67, ../../../app/stylesheets/layout.sass */
footer {
  clear: both;
  padding: 10px 0;
  text-align: center;
}

/* line 72, ../../../app/stylesheets/layout.sass */
#splash {
  overflow: hidden;
  *zoom: 1;
}
/* line 75, ../../../app/stylesheets/layout.sass */
#splash #poster {
  float: left;
  width: 617px;
  height: 301px;
  background: url('/images/photo-railsconf.jpg?1310074817');
}
/* line 81, ../../../app/stylesheets/layout.sass */
#splash aside {
  position: relative;
  background: #dbdbdb;
  float: left;
  width: 343px;
  height: 301px;
}
/* line 89, ../../../app/stylesheets/layout.sass */
#splash aside navigation a:link,
#splash aside navigation a:visited,
#splash aside navigation a:hover,
#splash aside navigation a:active {
  display: block;
  text-decoration: none;
  background: #790000;
  color: white;
  font-size: 120%;
  padding: 9px 8px 10px;
  margin-left: 5px;
  margin-bottom: 1px;
}
/* line 102, ../../../app/stylesheets/layout.sass */
#splash aside navigation a:hover {
  background: #790000 url('/images/launchbar-active-bg.png?1310422163') repeat-x 0 0;
  padding-left: 24px;
}
/* line 106, ../../../app/stylesheets/layout.sass */
#splash aside #announcement {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 8px 6px;
  font-size: 120%;
  text-shadow: white 1px 1px 1px;
}
/* line 114, ../../../app/stylesheets/layout.sass */
#splash aside #announcement img {
  margin-top: 8px;
}

/* line 117, ../../../app/stylesheets/layout.sass */
#intro {
  clear: both;
}
/* line 120, ../../../app/stylesheets/layout.sass */
#intro h2 {
  margin: 0.75em 0 0.25em;
  font-family: Georgia, serif;
  font-size: 220%;
}
/* line 126, ../../../app/stylesheets/layout.sass */
#intro p {
  font-size: 120%;
}

/* line 129, ../../../app/stylesheets/layout.sass */
aside.sidebar {
  float: left;
  width: 220px;
}
/* line 133, ../../../app/stylesheets/layout.sass */
aside.sidebar h2 {
  margin-top: 0;
  padding-bottom: 0.25em;
  font-size: 120%;
  border-bottom: 1px solid #dddddd;
}
/* line 139, ../../../app/stylesheets/layout.sass */
aside.sidebar ul {
  list-style-type: square;
  margin-left: 16px;
  color: #dddddd;
}
/* line 144, ../../../app/stylesheets/layout.sass */
aside.sidebar ul li {
  margin: 0.75em 0;
}
/* line 147, ../../../app/stylesheets/layout.sass */
aside.sidebar ul li.active {
  color: #790000;
  font-weight: bold;
}
/* line 151, ../../../app/stylesheets/layout.sass */
aside.sidebar ul a:link,
aside.sidebar ul a:visited,
aside.sidebar ul a:hover,
aside.sidebar ul a:active {
  text-decoration: none;
  color: #777777;
}
/* line 158, ../../../app/stylesheets/layout.sass */
aside.sidebar ul a:hover {
  text-decoration: underline;
}

/* line 162, ../../../app/stylesheets/layout.sass */
section#content h3 {
  font-size: 200%;
  margin-top: 0;
}
/* line 166, ../../../app/stylesheets/layout.sass */
section#content h4 {
  font-size: 160%;
}

/* line 169, ../../../app/stylesheets/layout.sass */
body.two-column section#content {
  margin-left: 250px;
}

/* line 7, ../../../app/stylesheets/theme.sass */
html {
  font-size: 100%;
}

/* line 10, ../../../app/stylesheets/theme.sass */
body {
  color: #555555;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875em;
}

/* line 16, ../../../app/stylesheets/theme.sass */
header {
  background: url('/images/navbar-bg-border.png?1310423898') repeat-x 0 100%;
  padding-bottom: 12px;
}
/* line 20, ../../../app/stylesheets/theme.sass */
header h1#logo {
  background: url('/images/logo.png?1309305445');
}

/* line 23, ../../../app/stylesheets/theme.sass */
footer {
  margin-top: 10px;
  border-top: 1px solid #dddddd;
}
