$body_text: #333333
$link_text: blue
$link_visited: purple
$gray_border: #CCCCCC
$primary_red: #790000

html
  font-size: 100%

body
  color: $body_text
  font:
    family: Helvetica Neue,Helvetica, Arial, sans-serif
    size: 0.875em

header
  background: image-url("navbar-bg-border.png") repeat-x 0 100%
  padding-bottom: 12px

  h1#logo
    background: image-url("logo.png")

footer
  margin-top: 10px
  border-top: 1px solid $gray_border