= render "sidebar"

%section#content
  %h3 Admissions

  %p We are not currently accepting new students, but stay tuned for announcements of new entrance exams and other public events.  While you're waiting, you can meet with current RMU participants and discuss the program via the #{link_to "rmu-talk", "http://groups.google.com/group/rmu-talk"} mailing list, or the #rmu IRC channel on Freenode.

  %p Feel free to #{link_to "contact us", contact_path} if you have any questions