= render "sidebar"

%section#content
  %h3 Ruby Core Skills

  %p At the heart of RbMU is the core skills course, an intense three week program that is designed to help students hone their craft through active practice in several important topic areas.

  %ul
    %li Modeling complex business logic
    %li Integration with third party software libraries and/or web services
    %li Practical application of high-level software design principles
    %li Contributing to community projects

  %p While some of the above topics may seem dry, we attack them in a lighthearted way, typically through building games, chat/email/twitter bots, and other useful tools that are fun to work on. This helps students stay engaged and learn the concepts within a relevant context rather than simply gaining an intellectual understanding of the problem. To encourage this even more, we require each student to propose and then develop an individual project during the three week session as well.

  %p Throughout the course, the instructor as well as some student mentors are highly available for feedback and one on one mentoring. We use the exercises to give everyone a common set of goals for the course, but use our conversations with students to address their individual concerns and problem areas.