= render "sidebar"

%section#content
  %h3 Philosophy

  %p We give folks the tools and support they need to strike a nice balance between learning new things and getting stuff done. Small class sizes combined with active personalized guidance from our instructors make for a unique experience not usually found in online training programs.

  %h4 Core Skills Course

  %p At the heart of RbMU is the core skills course, an intense three week program that is designed to help students hone their craft through active practice in several important topic areas.

  %h4 Other Courses

  %p Students who successfully complete the core skills course become part of the RMU Alumni network. Starting in 2011, the RbMU Alumni will have a number of courses to choose from to help them continue to improve their skills. Once we've had a chance to test-drive some of our new course ideas, we'll be sure to update this page with some more details on our alumni course offerings.