%section#content
  %h3 Contact

  %p If you have questions, ideas, or suggestions, we'd love to hear from you.

  %p For issues related to admissions, scheduling, or other administrative concerns, please contact Jia Wu (rmu.management@gmail.com)

  %p For issues with any of our web applications, including the main site and university-web, please contact Jordan Byron (jordan.byron@gmail.com)

  %p For pretty much everything else, contact Gregory Brown (gregory.t.brown@gmail.com)

  %p If your question or comment is something that would be best discussed in public, feel free to use the rmu-talk mailing list, or find seacreature (Gregory), sweetmango (Jia), or jordanbyron in #rmu on Freenode.